/*
README.*
example.sites.php
settings.local.php
default.settings.php
default.services.yml

!.gitignore
!composer.json
!composer.lock
!config-export/
!sites
!sites/default

sites/default/files
!sites/all
